
.edit-edit{
    top: 211px;
left: 407px;
width: 370px;
height: 353px;
background: #2A3E4C 0% 0% no-repeat padding-box;
box-shadow: 0px 8px 24px #00000029;
border-radius: 3px;
opacity: 1;
color:#97A1A9;
text-align: left;
}
.Edit{
    height: 1.9vh;
}
.leftSide{

    margin-left: 1vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 7.5vh;
    opacity: 1;
    justify-content:left;
}

.Head{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 24vh;
    justify-content:left;
    color:snow;
}
.input, select, textarea{
    color: #fff;
}

.textarea:focus, input:focus {
    color: #fff;
}
input[type=text] {
    color: white;
  }
.button:disabled,
button[disabled]{
  border: 1px solid #999999;
  color: #97A1A9;
}
